#outer {
    width: 100%;
    text-align: center;
	overflow:hidden;
	position:relative;
  }
  

#error {
    position: relative;
    margin: auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 50px;
    color: white;
    background-color: #F44812;
    width: fit-content;
    border-radius: 50px;
    height:min-content;
}