.spacer {
  text-align: center;
  margin: 0 auto;
}
.center {
  justify-content: center;
  align-items: center;
}
.logoimage{
  object-fit: contain;
  width: auto;
  height : auto;
  max-height: 100%;
  margin: 15px;
}

.logocontainer{
  display: contents;
  max-height: 100%;
  font-size:xx-large;
}

.accountcontainer{
  align-self:stretch;
}