.content-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.content-flex > mat-card, div, span, p, button {
    margin: 5px;
  }

.signin-card{
    padding: 25px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-width: 30%;
    width: fit-content;
}

.signup-container{
    margin-top: 20px;
}

.signform{
    min-width: 150px;
    max-width: 350px;
    width: 100%;
}

.signform > mat-form-field {
    margin-top: 5px;
}