.page-container{
    margin: 160px 50px;
}

app-root>router-outlet+app-chatdetail{
    /*margin: 160px 50px;*/
    margin-top: 156px;
    overflow-y: auto;
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }