<div class="content-flex">
  <mat-card class="signup-card">
    <h2>Crear una nueva cuenta</h2>
    <div class="content-flex signform">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Correo electrónico</mat-label>
        <input type="email" matInput placeholder="Ej: mail@mail.com" [formControl]="emailValidator" required [(ngModel)]="registerData.email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="emailValidator.hasError('email') && !emailValidator.hasError('required')">
        Por favor introduce un correo electrónico válido
        </mat-error>
        <mat-error *ngIf="emailValidator.hasError('required')">
        El email es <strong>necesario</strong>
        </mat-error>
        <mat-error *ngIf="emailValidator.hasError('alreadyExisting') && isFailed">
        El email ya está registrado
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Contraseña</mat-label>
        <input type="password" matInput maxlength="22" [formControl]="passwordValidator" required [(ngModel)]="registerData.pass">
        <mat-icon matSuffix>lock</mat-icon>
        <mat-error *ngIf="(passwordValidator.hasError('minlength') || passwordValidator.hasError('maxlength')) && !passwordValidator.hasError('required')">
        La contraseña debe tener entre 6 y 22 caracteres
        </mat-error>
        <mat-error *ngIf="passwordValidator.hasError('required')">
        La contraseña es <strong>necesaria</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label>Nombre de usuario</mat-label>
        <input matInput placeholder="Ej: usuario1" [formControl]="displaynameValidator" required [(ngModel)]="registerData.displayname">
        <mat-icon matSuffix>edit</mat-icon>
        <mat-error *ngIf="(displaynameValidator.hasError('minlength') || displaynameValidator.hasError('maxlength')) && !displaynameValidator.hasError('required')">
        El nombre debe tener entre 4 y 16 caracteres
        </mat-error>
        <mat-error *ngIf="displaynameValidator.hasError('required')">
        El nombre de usuario es <strong>necesario</strong>
        </mat-error>
        <mat-error *ngIf="displaynameValidator.hasError('alreadyExisting') && isFailed">
        El nombre de usuario ya está registrado
        </mat-error>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" (click)="signUp()" [disabled]="!emailValidator.valid || !passwordValidator.valid || !displaynameValidator.valid">Registrar cuenta</button>
  </mat-card>
  <div class="signin-container">
    <span>¿Ya tienes una cuenta?</span>
    <button mat-stroked-button color="primary" [routerLink]="'/signin'">Iniciar sesión</button>
  </div>
</div>
