<h1 mat-dialog-title>¿Estás seguro?</h1>
<div mat-dialog-content>
    <p *ngIf="data.description!=null && data.description!=''">{{data.description}}</p>
</div>
<div mat-dialog-actions>
  <button *ngIf="!data.deletion" mat-button mat-dialog-close="confirm" color="warn">Confirmar</button>
  <button *ngIf="data.deletion" mat-raised-button mat-dialog-close="confirm" color="warn" aria-label="Editar chat">
    <mat-icon>delete_forever</mat-icon> Eliminar
  </button>
  <button mat-button mat-dialog-close="cancel" cdkFocusInitial>Cancelar</button>
</div>